@model IEnumerable<TechReview.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Reviews</h2>

<p class="btn btn-default">
    @Html.ActionLink("Create New", "Create")
</p>
@* Container for all the review thumbnails *@
<div class="row reviewcontainer">
    @foreach (var item in Model)
    {
        //Reviews Thumbnails code, note the db pulls via razors.
    <div class="col-sm-6 col-md-4 ">
        <div class="thumbnail reviewthumb">
            <div class="caption">
                <p class="reviewtitle">@Html.DisplayFor(modelItem => item.Title)</p>
                <p>@Html.DisplayFor(modelItem => item.Category.Name)</p>
                <p>@Html.DisplayFor(modelItem => item.Content)</p>
                <p>@Html.DisplayNameFor(model => model.PublishedDate):@Html.DisplayFor(modelItem => item.PublishedDate)</p>
                <p>@Html.DisplayNameFor(model => model.Etc):@Html.DisplayFor(modelItem => item.Etc)</p>
                <p class="btn btn-default">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
                </p>
            </div>
        </div>
    </div>
     }
    
</div> 
